<!doctype html>
<html>
<head>
    <title>Classmates App</title>
</head>

<body>
    <h1>Addition: </h1>

		<form action="/add" method="POST">
			<input type="text" name="addx" placeholder="x"> +
			<input type="text" name="addy" placeholder="y">
			<input type="submit">
		</form>
		<br>
	
    <h1>Subtraction:</h1>

		<form action="/sub" method="POST">
			<input type="text" name="subtractx" placeholder="x"> -
			<input type="text" name="subtracty" placeholder="y">
			<input type="submit">
		</form>
		<br>

    <h1>Multiplication:</h1>

		<form action="/mult" method="POST">
			<input type="text" name="multiplyx" placeholder="x"> *
			<input type="text" name="multiplyy" placeholder="y">
			<input type="submit">
		</form>
		<br>

    <h1>Division:</h1>

		<form action="/div" method="POST">
			<input type="text" name="dividex" placeholder="x"> /
			<input type="text" name="dividey" placeholder="y">
			<input type="submit">
		</form>
		<br>
</body>
</html>